.inputPlus{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 45px;

    &Value{
        padding: 10px 9px;
        border: 1px solid #B1B1B1;
        border-radius: 5px 0 0 5px;
        font: 1rem/1.4 'Roboto', sans-serif;
        background: #DBE2EF;  
        &::placeholder{
            color: #7B7B7B;
        }
    }

    &Button{

    }
} 